/**
 * 中心页面CSS
 * @author liuzilu <fotomxq@gmail.com>
 * @version 2
 * @package 
 *//* 
    Created on : 2015-9-8, 18:21:06
    Author     : mxq
*/
body {
    background-color: #FFFFFF;
}
.ui.menu .item img.logo {
    margin-right: 1.5em;
}
.main.container {
    margin-top: 7em;
}
.wireframe {
    margin-top: 2em;
}
.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}
.column .segment a img{
    width:350px;
    height:150px;
}