/**
 * 登录页CSS
 * @author liuzilu <fotomxq@gmail.com>
 * @version 1
 * @package center
 *//* 
    Created on : 2015-9-7, 16:27:49
    Author     : mxq
*/

body {
    background-color: #DADADA;
}
body > .grid {
    height: 100%;
}
.image {
    margin-top: -100px;
}
.column {
    max-width: 450px;
}